@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="~/scripts/Index.js"></script>
<link href="~/css/index.css" rel="stylesheet" />

<div class="highlight-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Random</h2>
            <p class="text-center">Where you can satisfy all your random needs.</p>
        </div>
    </div>
</div>
<div class="container">
    <h1>Numbers </h1>
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-1" role="tab" data-toggle="tab">Integer Generator</a></li>
            <li><a href="#tab-2" role="tab" data-toggle="tab">Tab 2</a></li>
            <li><a href="#tab-3" role="tab" data-toggle="tab">Tab 3</a></li>
        </ul>
        <div class="tab-content" style="margin-top:26px;">
            <div class="tab-pane active" role="tabpanel" id="tab-1">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="input-group" style="width:100%;">
                            <div class="input-group-addon" style="width:175px;"><span>Minimum value</span></div>
                            <input id="intSetMin" class="form-control" type="number">
                        </div>
                        <div class="input-group" style="width:100%;">
                            <div class="input-group-addon" style="width:175px;"><span>Maximum value</span></div>
                            <input id="intSetMax" class="form-control" type="number">
                        </div>
                        <div class="input-group" style="width:100%;">
                            <div class="input-group-addon" style="width:175px;"><span>Amount of numbers</span></div>
                            <input id="intSetAmount" class="form-control" type="number">
                        </div>
                        <button class="btn btn-default btn-block" type="button" onclick="GenerateIntegerSet()">Generate Sequence</button>
                    </div>
                    <div class="col-md-5">
                        <hr class="hidden-md hidden-lg">
                        <p id="intSetResult" class="text-muted">Here you will see the result</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab-2">
                <p>Content for tab 2.</p>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab-3">
                <p>Content for tab 3.</p>
            </div>
        </div>
    </div>
</div>